<?xml version="1.0" encoding="UTF-8"?>

<game>
    <server>
        <portNumber>6000</portNumber>
        <ping>10000</ping>
        <action>50000</action>
    </server>

    <client>
        <hostName>localhost</hostName>
        <portNumber>6000</portNumber>
        <init>50000</init>
        <move>50000</move>
    </client>
</game>