<?xml version="1.0" encoding="UTF-8"?>

<game>
    <server>
        <portNumber>6000</portNumber>
        <ping>10000</ping>
        <action>20000</action>
    </server>

    <client>
        <hostName>192.168.1.1</hostName>
        <portNumber>6000</portNumber>
        <init>20000</init>
        <move>30000</move>
    </client>
</game>